.hero{
    width: 100%;
    min-height: 10vh;
    margin: 0;
    padding-left: 0 !important;
    display: flex;
    justify-content: center;
    background-color: #EC5E6C;
}

.hero img{
    width: 30%;
    margin: 0
}

@media screen and (max-width: 700px){
    .hero img{
        width: 100%;
    }
}