#printable-results{
    height: 1000px;
    width: 1200px;
    font-family: Mali-SemiBold !important;
    alignment: center;
    justify-content: center;
    padding: 5%;
}

.results h1{
    width: 100%;
}


.result__graphics{
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-content: flex-end;
    align-items: flex-end;
}

.secondary-graphics{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: end;
}